/* COLOR PALLETTE */
/* CSS HEX
--alice-blue: #e9f1f7ff;
--rich-black: #003d3aff;
--bittersweet: #ff6663ff;
--arctic-lime: #e0ff4fff;
--forest-green-crayola: #57a773ff; */

@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    background: #e9f1f7ff;
    margin: 0;
    padding: 0;
}

.header h1 {
  font-size: 50px;
  font-weight: 800;
  font-family: 'Barlow';
  margin-left: 50px;
}

.header h1:after {
    content: ' ';
    display: block;
    border: 2px solid #e0ff4fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px #e0ff4fff;
    -webkit-box-shadow: inset 0 1px 1px #e0ff4fff;
    -moz-box-shadow: inset 0 1px 1px #e0ff4fff;
}

#headerSpan {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2.5px;
  font-family: 'Dosis';
  margin-left: 50px;
  font-style: italic;
}

.header {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: #003d3aff;
  color: white;
}
