/* COLOR PALLETTE */
/* CSS HEX
--alice-blue: #e9f1f7ff;
--rich-black: #003d3aff;
--bittersweet: #ff6663ff;
--arctic-lime: #e0ff4fff; rgb(224, 255, 79)
--forest-green-crayola: #57a773ff; */

@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    background: #e9f1f7ff;
    margin: 0;
    padding: 0;
}

.header h1 {
  font-size: 50px;
  font-weight: 800;
  font-family: 'Barlow';
  margin-left: 50px;
  margin-right: 50px;
}

.socialMediaButtons {
  font-size: 30px;
  margin-right: 10px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  float: right;
  color: white;
  margin-top: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.alignleft {
  float: left;
}

.header h1:after {
    content: ' ';
    display: block;
    border: 2px solid #e0ff4fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px #e0ff4fff;
    -webkit-box-shadow: inset 0 1px 1px #e0ff4fff;
    -moz-box-shadow: inset 0 1px 1px #e0ff4fff;
    margin-right: 50px;
}

.header {
  width: 100%;
  padding: 10px;
  background: linear-gradient(#003d3aff, #e9f1f7ff);
  color: white;
}

.header i {
    font-size: 20px;
}

#AllieSoldau {
  text-align: left;
}

#boxA {
	background: #e9f1f7ff;
  border: 4px solid #ff6663ff;
	border-radius: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#boxA p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #003d3aff;
    font-family: 'Dosis';
    font-size: 22px;
}

.dot {
  width: 150px;
  height: 150px;
  background-color: rgb(224, 255, 79);
  border-radius: 50%;
  display: block;
  float: left;
  margin-left: 80px;
  position:relative;
  border: none;
}

.dot p {
  margin-top: 20%;
  text-align: center;
  color: #003d3aff;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Barlow';
  text-shadow: 0.1em 0.1em #e9f1f7ff;
}

#twoLineText {
  margin-top: 35px;
}

#expandableDots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#boxAboutMe, #boxVolunteering, #boxPassions, #boxPersonalProjects {
  display: none;
  background: #57a773ff;
  color: #e9f1f7ff;
  border-radius: 10%;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 0px;
  text-align: left;
  font-family: 'Dosis';
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

#boxResume {
  width: "800"; 
  height: "500";
  display: none;
  background: #57a773ff;
  color: #e9f1f7ff;
  border-radius: 10%;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 0px;
  text-align: center;
  font-family: 'Dosis';
  font-size: 20px; 
}

#boxAboutMe p, #boxResume p, #boxVolunteering p, #boxPersonalProjects p {
  margin: 0px;
  padding: 20px;
}

#boxPassions p {
  margin: 0px;
  padding: 7px;
  padding-left: 20px;
}

#boxPassions div {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

img {
  border: 5px solid #003d3aff;
}




